body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #1e1e1e;
    padding: 25px;
    border-radius: 12px;
    width: 340px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #e0e0e0;
}

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    background: #2b2b2b;
    color: white;
    font-size: 15px;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #2979ff;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #5393ff;
}

#resultado {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}
